default_install_hook_types:
  - pre-commit
  - pre-push
repos:
  - hooks:
      - args:
          - --python-version=3.13
          - --pre-commit-prettier
          - --pyproject
          - --pyproject
        id: nitpick
    repo: https://github.com/dycw/pre-commit-hook-nitpick
    rev: 0.1.17
  - hooks:
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-symlinks
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
      - args:
          - --fix=lf
        id: mixed-line-ending
      - id: no-commit-to-branch
      - args:
          - --autofix
        id: pretty-format-json
      - id: trailing-whitespace
    repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
  - hooks:
      - entry: npx prettier --write
        id: prettier
        language: system
        name: prettier
        types_or:
          - markdown
          - yaml
    repo: local
