name: push

on:
  push:
    branches:
      - master

jobs:
  tag:
    runs-on: ubuntu-latest
    steps:
      - name: Tag latest commit
        uses: dycw/actions-tag-commit@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
